
.hr {
  display: block;
  height: 2px;
  border-top: 1px solid #FFF;
  background: #ededed;
}

.card {
  background: $component-background;
  .component {
    padding: 10px;
  }
  .component-title {
    color: $component-title-text-color;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  .component-image {
    width: 100%;
    height: auto;
    max-width: 80px;
  }
  .component-link {
    color: $component-title-link-color;
    text-decoration: none;
    &:hover {
      color: darken($component-title-link-color, 7%);
    }
  }

}
