<form ng-submit="searchusername(username)">
<input type="text" placeholder="enter a github username" ng-model="username">
<button type="submit">Search</button>
<div ng-show="username.length">
  <div>Username: {{username}}</div>
  <div ng-show="favouriteLanguage">Favourite Language: {{favouriteLanguage}}</div>
</div>
</form>
