@import "../assets/scss/variables";
@import "../assets/scss/typography";
@import "../assets/scss/ui";

html {
  box-sizing: border-box;
  padding: 100px 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: $component-background;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
