<div>
<div class="card">
  <span class="hr"></span>
  <div class="component row">
    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
      <img ng-src="{{component.imgSrc}}" class="component-image">
    </div>
    <div class="col-xs-6">
      <h3 class="component-title">{{component.title}}</h3>
      <div class="component-text">{{component.text}} <a class="component-link" ng-href="//twitter.com/{{component.username}}">@{{component.username}}</a>
    </div>
  </div>
  <time class="component-time
              muted-text
              col-xs-2
              col-xs-offset-1
              col-sm-offset-2
              col-md-offset-3
              ">{{component.time}}</time>

</div>
 <span class="hr"></span>

</div>



